.tile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 20px;
  font-size: 18px;
}

.lessonContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.selectedTile {
  border-color: blue;
  background-color: #e6f2ff;
}

.unavailableTile {
  opacity: 0.5;
}

.lessonName {
  font-weight: bold;
  margin-bottom: 8px;
}

.instructor {
  margin-bottom: 4px;
}

