$glow-bg: radial-gradient( circle at 631.27px 4.12244px, #0141FF55, #0000000f );

.navigationContainer {
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  position: sticky;
  height: 100px;
  background-color: #fafafa;
}

.navigation {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  ul {
    padding: 0;
    margin: 0;
  }
}

.logo{
  align-self: center;
  width: 110px;
  flex: 0 0;
}


.navMenu {
  width:150px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;

  &__root {
    &__children {
      display: none;
      opacity: 0;
    }

    &:hover &__children {
      display: block;
      opacity: 1;
    }
  }

}

.navItem {
  width: 100%;
  padding: 10px;
  list-style-type: none;

  &:hover {
    display: block;
    left: 0;
    top: 0;
    background-image: $glow-bg;
    transition: opacity .3s ease;
    mix-blend-mode: plus-lighter;
    z-index: 2;
    border-radius: 10px;
  }
}
