@import "../../styles/breakpoints.scss";
@import "../../styles/utils.scss";


@keyframes shotup {
  0% {
    transform: translateY(300%) ;
    opacity: 0;
  }
  90% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0%) ;
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    width: 0;
    opacity: 0;
  }

  100% {
    width: 30%;
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    width: 30%;
    // transform: scale(.3);
    opacity: 1;
  }

  100% {
    width: 0%;
    // transform:scale(1);
    opacity: 0;
  }
}


.navigationContainer {
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  width: 100%;
  display: flex;
  justify-content: center;
  position: sticky;
  height: 100px;
}

.navigation {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;

  ul {
    padding: 0;
    margin: 0;
    align-self: center;
  }
}

.logo{
  align-self: center;
  width: 110px;
  flex: 0 0;
}


.navMenu {
  @include desktop-up {
    width:150px;
  }

  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;

  &__root {
    &__children {
      padding-left: 20px;
      padding-right: 20px;
      opacity: 0;
    }

    &:hover &__children {
      background: white;
      opacity: 1;
    }
  }

}

.navItem {
  display: flex;
  justify-content:center ;
  text-align: center;
  width: 100%;
  padding: 20px;
  list-style-type: none;

  &__button {
    padding: 15px 25px;
    width: 100%;

  }
  &__root {
    a {
      @include autoFontSize(25);
    }
  }

  button {
    padding: inherit;
    @include autoFontSize(17);
    font-weight: bolder;
    width: 100%;
    color: initial;
    background-color: initial;
    border: none;
    cursor: pointer;

    a {
      display: block;
    }
  }

  @include desktop-up {
    &:hover {
      display: block;
      background-image: $glow-bg;
      transition: opacity .3s ease;
      z-index: 2;
      border-radius: 10px;
    }
  }

}


.verticalNavMenu {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;

  &__root {
    @include autoFontSize(24);
    &__children {
      @include autoFontSize(18);
      padding-left: 20px;
      padding-right: 20px;
    }
  }

}

.leftDrawer__hamburger{
  &:hover {
    background-image: $glow-bg;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 100px;
  position: fixed;
  z-index: 100;
  height: 60px;
  width: 60px;
  left: 20px;
  top: 20px;
}

.leftDrawer__content {
  overflow-y: auto;
  padding-top: 50px;
  @include shadow();
  background-color: white;
  position: fixed;
  left: 0;
  height: 100%;
  width: 0;
  z-index: 10;
  opacity: 0;
  transition: all 600ms cubic-bezier(.62,.04,.3,1.56);
  transition-delay: 100ms;
}

.leftDrawer__content__show {
  @include mobile-up {
    width: 100%;
  }

  @include desktop-up {
    width:30%
  }
  opacity: 1;
}

.leftDrawer__content__hide {
  opacity: 0;
}


.verticalNavItem {
  width: 100%;
  padding: 10px;
  list-style-type: none;

  @include desktop-up {
    &:hover {
      display: block;
      background-image: $glow-bg;
      transition: opacity .3s ease;
      z-index: 2;
      border-radius: 10px;
    }
  }

}

.hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.hamburger {
  top: -5px;
  width: 30px;
  height: 30px;
  position: relative;
}

.hamburger .bar{
  padding: 0;
  top: 20px;
  width: 30px;
  height: 4px;
  background-color: black;
  display: block;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  position: absolute;
}

.hamburger .bar {
  transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
}


.bar1 {
  top: 0;
}

.bar2,
.bar3 {
  top: 13.5px;
}

.bar3 {
  right: 0;
}

.hamburger .bar4 {
  top: 10px;
}

.hamburger .bar5 {
  top: 30px;
}

.hamburger .bar {
  transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
}

.hamburger .bar2 {
  width: 1px;
  transform: rotate(90deg);
  left: 13.5px;
}

.hamburger .bar3 {
  width: 1px;
  left: 13.5px;

}
.hamburgerButton {
  background: transparent;
  border: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.buttonClicked + label > .hamburger > .bar1{
  top: 13.5px;
  background-color: transparent;
}

.buttonClicked + label > .hamburger > .bar2{
  left: 0px;
  width: 30px;
  transform: rotate(45deg);
}

.buttonClicked + label > .hamburger > .bar3{
  left: 0;
  width: 30px;
  transform: rotate(-45deg);
}

.buttonClicked + label > .hamburger > .bar4{
  background-color: transparent;
}

.buttonClicked + label > .hamburger > .bar5{
  bottom: 13.5px;
  background-color: transparent;
}