$glow-bg: radial-gradient( circle at 631.27px 4.12244px, #0141FF55, #0000000f );

.navigationContainer {
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  width: 100%;
  display: flex;
  justify-content: center;
  position: sticky;
  height: 100px;
}

.navigation {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;

  ul {
    padding: 0;
    margin: 0;
    align-self: center;
  }
}

.logo{
  align-self: center;
  width: 110px;
  flex: 0 0;
}


.navMenu {
  width:200px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;

  &__root {
    &__children {
      padding-left: 20px;
      padding-right: 20px;
      opacity: 0;
    }

    &:hover &__children {
      background: white;
      opacity: 1;
    }
  }

}

.navItem {
  width: 100%;
  padding: 10px;
  list-style-type: none;

  &:hover {
    display: block;
    background-image: $glow-bg;
    transition: opacity .3s ease;
    z-index: 2;
    border-radius: 10px;
  }
}
