@import "../styles/utils.scss";

.container {
  @include autoPaddingLayout();
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__image{
    align-self: center;
    width: inherit;
  }
}