@import "styles/utils";
@import "styles/breakpoints";

.navigationButton {
  @include autoFontSize(15);
  &:hover {
    background-image: $glow-bg;
  }

  font-weight: bolder;
  text-transform: capitalize;
  z-index: 100;
  right: 20px;
  margin-right: 5px;
  border: 2px solid black;
  background-color: white;
  border-radius: 100px;
  padding: 5px;

  cursor: pointer;
  outline: inherit;

  a {
    padding:10px;
    @include tablet-up {
      padding:20px;
    }
  }
}