@import "../styles/breakpoints";

@keyframes scaleDown {
  from {
    opacity: 0.5;
    transform: scale(1.1);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideInFromBottom {
  0% {
    bottom: 150px;
  }
  100% {
    bottom: 220px;
  }
}

@keyframes happyHover {
  from {

  }

  to {

  }
}

.hero {
  width: 100%;
  animation: 500ms ease-out scaleDown;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  height: 600px;

  &__imageWrap {
    position: relative;
    width: 100%;
    img {
      width: 100vw;
      height: 600px;
    }
  }

  &__content {
    position: relative;
    animation: 900ms ease slideInFromBottom;
    color: white;
    display: flex;
    flex-direction: column;
    left: 50px;
    bottom: 220px;
  }

  &__ctaContainer {
    visibility: inherit;
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transition: transform 0.3s ease-out;

    &:hover{
      transform: translateY(10px);
    }

    &__cta {
      justify-content: flex-start;

      a {
        color: #363636;
        border-color: #ffffff;
      }
    }
  }
}

.card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: transform 0.3s ease-out;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;

  @include mobile-up {
    width: 300px;
    height: 300px;
  }

  @include small-desktop {
    width: 350px;
    height: 500px;
    }

  @include mid-desktop {
    width: 400px;
    height: 600px;
  }

  @include large-desktop {
    width: 350px;
    height: 500px;
  }

  @include desktop-up{
    width: 500px;
    height: 600px;
    &:hover {
      transform: translateY(-10px);
    }
  }


  &__image {
    align-self: center;
    @include mobile {
      width: 300px;
      height: 200px;
    }
    @include tablet {
      width: 300px;
      height: 200px;
    }
    @include desktop-up {
      width: 600px;
      height: 300px;
    }

  }

  &__content {
    padding: 20px;
  }

  &:hover &__line {
    @include desktop-up {
      border-radius: 20px;
      transform: scaleX(6.5);
    }

  }
  &__line {
    border-radius: 20px;
    align-self: flex-end;
    width:100px;
    height: 5px;
    position: absolute;
    transition: all 0.3s ease;
    mix-blend-mode: hard-light;
    background: #43cea2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}