@import "../styles/breakpoints";
@import "../styles/utils";

@keyframes scaleDown {
  from {
    opacity: 0.5;
    transform: scale(1.1);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideInFromBottom {
  0% {
    bottom: 80px;
  }
  100% {
    bottom: 50px;
  }
}

.hero {
  position: relative;
  min-width: 100%;

  &__placeholderImage {
   img {
     width: 100%;
   }
  }

  &__videoWrap {
    width: 100%;
    animation: 500ms ease-out scaleDown;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    &__desktop{
      display: none;
      @include tablet-up{
        display: block;
      }
    }
    &__mobile{
      display: block;
      @include tablet-up{
        display: none;
      }
    }
    video {
      object-fit: cover;
      @include desktop-up {
        height: 700px;
        min-width: 100%;
      }
    }
  }

  &__content {
    padding: 20px;
    background-color: rgba(0,30,20,0.3);
    position: absolute;
    animation: 0.5s linear slideInFromBottom;
    color: white;
    display: flex;
    flex-direction: column;
    left:20px;
    bottom: 50px;
    @include autoFontSize(15);
  }

  &__ctaContainer {
    background-color: rgba(0,30,20,0.3);
    padding:20px;
    border: 2px solid white;
    border-radius: 100px;
    visibility: inherit;
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transition: transform 0.3s ease-out;

    &:hover{
      transform: translateY(10px);
    }

    &__cta {
      justify-content: flex-start;

      a {
        color: #363636;
        border-color: #ffffff;
      }
    }
  }

}

.unavailableReason {
  font-weight: bolder;
  position: absolute;
  z-index: 2;
  opacity: 1;
  padding:10px;
  height: 30px;
  @include autoFontSize(25);
}
.card {
  @include autoFontSize(18);
  text-transform: uppercase;
  font-weight: bolder;

  &__unavailable {
    opacity: 0.3;
  }

  &__unavailable:hover {
    opacity: 0.3;
  }

  @include shadow();

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: transform 0.3s ease-out;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;

  @include mobile-up {
    width: 300px;
    height: 300px;
  }

  @include tablet-up {
    width: 200px;
    height: 200px;
  }

  @include mid-desktop {
    width: 300px;
    height: 300px;
  }

  @include large-desktop {
    width: 350px;
    height: 350px;
  }


  @include desktop-up{
    &:hover {
      transform: translateY(-10px);
    }
  }


  &__image {
    position: relative;
    align-self: center;
    width:inherit;
    height: inherit;
  }

  &__content {
    position: absolute;
    margin: 20px;
    border-radius: 20px;
    text-align: center;
    top: 0;
    left:0;
    right: 0;
    padding: 10px;

    background-color: rgba(255,255,255,.8);
  }

  &:hover &__line {
    @include desktop-up {
      border-radius: 20px;
      transform: scaleX(6.5);
    }

  }
  &__line {
    border-radius: 20px;
    align-self: flex-end;
    width:100px;
    height: 5px;
    position: absolute;
    transition: all 0.3s ease;
    mix-blend-mode: hard-light;
    background: #43cea2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}

.roundCard {
  @include autoFontSize(15);
  text-transform: uppercase;
  margin: 20px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    @include shadow();
    border-radius: 1000px;
    width: 200px;
    height: 200px;

    @include mobile-up {
      width: 300px;
      height: 300px;
    }

    @include tablet-up {
      width: 200px;
      height: 200px;
    }

    @include mid-desktop {
      width: 300px;
      height: 300px;
    }

    @include large-desktop {
      width: 350px;
      height: 350px;
    }
  }



  @include desktop-up{
    &:hover {
      transform: translateY(-10px);
    }
  }

  &__text {
    align-self: center;
    text-align: center;
  }

}