@import "../styles/breakpoints";
@import "../styles/utils";

.profileBlock {
  opacity: 1;
  position: inherit;
  transition: opacity 0.5s ease-in;

  &__hidden {
    opacity: 0;
  }

  margin: 20px;
  padding:20px;
  display: flex;
  flex-direction: column;
  @include desktop-up() {
    flex-direction: row;
  }

  &__hero {
    display: flex;
    flex-direction: column;
  }
  &__paragraphs {
    padding:20px;
    align-self: baseline;
  }

  &__image {
    align-self: center;
    border-radius: 100%;
    @include mobile() {
      width: 100px;
      height: 100px;

    }
    @include tablet() {
      width: 150px;
      height: 150px;
    }

    @include desktop-up() {
      width: 250px;
      height: 250px;
    }
  }

}