@import "../styles/breakpoints";
@import "../styles/utils";
@import "../styles/animations";

.fancyLogo {
  font-family: GeomaRegularDemo, 'Geoma Regular Demo', serif;
  padding-top: 10px;

  &__mainLogo {
    width: 100px;

    @include tablet-up{
      width: inherit;
      align-self: inherit;
    }
  }
  &__mainLogo:hover {
    @include logoLotusAnimation(infinite);
  }

  display: flex;
  justify-content: center;
  flex-direction: column;

  &__companyName {
    height: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__veda {
      display: none;
      width: 30px;
      @include tablet-up {
        display: block;
        width: 55px;
      }
      margin-right: 5px;
    }
    &__yogshala {
      display: none;
      width: 50px;
      @include tablet-up {
        display: block;
        width: 100px;
      }
    }
  }

  &__companyTag {
    display: none;
    align-self: center;
    margin-top: 5px;
    width: 50px;
    @include tablet-up {
      display: block;
      width: 150px;
    }

  }
}
