$white: white;
$light-turquoise: #2FCCA8;
$dark-turquoise: #1F7863;
$naked: #CC775A;
$peach: #FFA78A;
$brick: #A1310B;
$font-color: #17224A;
$font-color-secondary: #122954;
$disabled:  #f0f0f0;
$yoga-red: #a00013;
$yoga-brown: #702c1f;
$yoga-yellow: #d6910c;
