@import "../styles/breakpoints.scss";

.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.heroContainer{
  display: flex;
  width: 100vw;
  transition: opacity .3s ease-in-out,visibility .3s ease-in-out;
}

.buttonCards {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
}

.roundCards{
  display: flex;
  align-items: center;

  @include mobile-up {
    flex-direction: column;
  }
  @include tablet-up {
    flex-direction: row;
  }
}