@import "../styles/utils.scss";
@import "../styles/breakpoints.scss";
@import "../styles/colours.scss";

.container {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroContainer{
  display: flex;
  width: 100vw;
  transition: opacity .3s ease-in-out,visibility .3s ease-in-out;
  &__hero {
    width: 100%;
    @include mobile {
      display: none;
    }
  }
  &__placeholderImage {
    @include tablet-up {
      display: none;
    }
  }
}

.buttonCards {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
}

.roundCards{
  display: flex;
  justify-content: center;

  &__indianCulture {
    img {
      width: 110% !important;

      @include tablet-up{
        width: 270px !important;
      }
    }
  }
  @include mobile-up {
    flex-direction: column;
  }
  @include tablet-up {
    flex-direction: row;
  }
}
.secondTitle {
  @include autoFontSize(70);
  color: $yoga-yellow;
  span:first-child {
    color: $yoga-brown;
  }
  span:last-child {
    color: $yoga-red;
  }
}

.branches {
  @include mobile {
   display: none;
  }
  @include autoFontSize(60);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  svg{
    height: 100px;
    padding-bottom: 20px;
  }

  &__branchLeft {
    display: flex;
    flex-direction: column;
    &__content {
      color: $yoga-yellow;
      span {
        color:$yoga-brown;
      }
    }
  }

  &__branchRight {
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    &__content {
      color: $yoga-yellow;
      span {
        color: $yoga-red;
      }
    }
  }

}

