@import "../styles/breakpoints.scss";

.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.heroContainer{
  display: flex;
  width: 100vw;
  height: 700px;
  transition: opacity .3s ease-in-out,visibility .3s ease-in-out;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonCards {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #eaeaea;
  div {
    padding: 20px;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
}