@import "../styles/breakpoints.scss";
@import "../styles/utils";
@import "../styles/animations";

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}


.header {
  height: inherit;
  transition:  height 0.3s ease-out;

  &__scroll {
    top: 0;
    position: fixed;
    height: 100px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, height 0.3s ease-in;
  }

  display: flex;
  width: 100%;
  z-index: 100;
  flex-direction: row;
  justify-content: center;
  min-height:50px;

  &__certification {
    display: flex;
    position: absolute;
    left: 100px;
    margin-top: 15px;
    @include mobile {
      display: none;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    font-size: 1.5rem;
    justify-content: center;

    &__certification {
      &__hidden {
        top: 0;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.1s ease-out;
      }

      opacity: 1;
      position: inherit;
      visibility: visible;
      transition: opacity 0.1s ease-in;
      @include tablet-up {
        display: none;
      }
    }

    &__mainLogo {
      svg {
        height: 80px;
        @include logoLotusAnimation(2);
        transition: height 0.3ms ease-in;
      }
    }

    &__title {
      z-index: 0;
      opacity: 1;
      position:inherit;
      @include autoFontSize(30);
      transition: opacity 0.2s;
      &__hidden {
        opacity: 0;
        font-size: 0;
        transition: opacity 0.5ms ease-in;
      }
    }
  }

  &__rightContent {
    display: flex;
    z-index: 100;
    position: fixed;
    flex-direction: column;
    top: 12px;
    right: 8px;
    align-items: center;

    @include tablet-up {
      flex-direction: row;
      top: 26px;
      right: 30px;
    }

    &__loginContainer {
      margin-top: 5px;
      @include tablet-up {
        margin-top: 0;
      }
    }

    &__accountContainer {
      &__button {
        display: none;
        @include tablet-up {
          display: block;
        }
      }

      &__iconButton {
        @include tablet-up {
          display: none;
        }
        margin-top: 5px;
        padding: 5px 10px;
        border: 2px solid black;
        border-radius: 30px;
        &:hover {
          background-image: $glow-bg;
        }
        cursor: pointer;
        outline: inherit;
        display: block;
        background-color: inherit;

        svg {
          position: relative;
          top: 2px;
          width: 22px;
        }
      }
    }

  }
}

.main {
  display:flex;
  flex: 1;
  flex-direction:column;
  min-height: 100vh;
  align-items: center;
  margin-bottom: 20px;
}

.footer {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid #eaeaea;

  &__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    div {
      padding: 20px;
    }
  }

  &__socialMediaLinks {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &__twitter {
      @include autoFontSize(38);
      margin-bottom: 5px;
    }

    svg {
      width: 32px;
      height: 32px;
    }

    a {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}