@import "../styles/breakpoints.scss";
@import "../styles/utils";



.header {
  h1 {
    @include autoFontSize(40);
    padding: 0;
    margin: 0;

  }
  display: flex;
  width: 100%;
  background-color: white;
  z-index: 100;
  flex-direction: row;
  justify-content: center;

  &__certification {
    display: flex;
    position: absolute;
    left: 100px;
    margin-top: 15px;
    @include mobile {
      display: none;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    font-size: 1.5rem;
    justify-content: center;

    &__certification {
      @include tablet-up {
        display: none;
      }
    }
  }

  &__enquiry {
    z-index: 100;
    position: fixed;
    top: 26px;
    right: 30px
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  position: sticky;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  border-top: 1px solid #eaeaea;
  div {
    padding: 20px;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
}